@inherits R_Page
@attribute [R_Page(Title = "Product List")]

<h3>@Parameter</h3>

<R_GroupBox ShowBorder="false">
    <R_Grid @ref="@_gridRef"
            DataSource="@GridViewModel.ProductList"
            R_ServiceGetListRecord="@R_ServiceGetListRecord" 
            Width="400px" 
            Pageable>
        <R_GridColumns>
            <R_GridNumericColumn FieldName="@nameof(ProductDTO.Id)"
                                 HeaderText="Product Id" />
            <R_GridTextColumn FieldName="@nameof(ProductDTO.Name)"
                              HeaderText="Product Name" />
        </R_GridColumns>
    </R_Grid>

    <R_Button OnClick="@OnClose">Close</R_Button>
    <R_Popup R_Before_Open_Popup="@R_Before_Open_Popup"
             R_After_Open_Popup="@R_After_Open_Popup">Popup Product</R_Popup>
    <R_Button OnClick="@ThrowException">Throw Exception</R_Button>
</R_GroupBox>