@layout TelerikLayout
@inherits LayoutComponentBase

<TelerikRootComponent>
    @*<div class="page container-fluid">
        <R_PopupContainer />
        <R_MessageBoxContainer />

        <div class="sidebar" style="@IconMenuCssClass">
            <NavMenu ShowIconMenu="@ToggleIconMenu" />
        </div>

        <main>
            <div class="top-row px-4">
                <div class="dropdown">
                <a @onclick="@Logout" class="dropdown-item ms-0 "><i class="fas fa-sign-out-alt me-2"></i>Log Out</a>
                </div>
            </div>

            <article class="content px-4">
                <R_ErrorHandler>
                    <BlazorMenu.Shared.Tabs.MenuTabSet />
                </R_ErrorHandler>
            </article>
        </main>
    </div>*@

    <R_PopupContainer />
    <R_MessageBoxContainer />

    <div class="header">
        <div class="nav-container">
            <div class="menu-button">
                <TelerikButton OnClick="@ToggleDrawer" Icon="@Telerik.SvgIcons.SvgIcon.Menu" FillMode="@(ThemeConstants.Button.FillMode.Flat)"></TelerikButton>
            </div>
            <div class="title">
                <h1>Blazor Menu</h1>
            </div>
        </div>
    </div>

    <TelerikDrawer @ref="@_telerikDrawerRef" 
                   Data="_data" 
                   MiniMode
                   Mode="@DrawerMode.Push" 
                   Position="@DrawerPosition.Start" 
                   @bind-Expanded="@Expanded" Width="200px">
        <Template>
            <div class="k-drawer-items">
                <ul role="menubar" aria-orientation="vertical">
                    @foreach (var item in context)
                    {
                        var selectedClass = item == _selectedItem ? "k-selected" : string.Empty;
                        <li @onclick="@(() => OnItemSelect(item))" class="k-drawer-item @selectedClass k-level-@(item.Level)">
                            <TelerikFontIcon Icon="@Telerik.FontIcons.FontIcon.Categorize"></TelerikFontIcon>
                            <span class="k-item-text">@item.Text</span>

                            @if (item.Expanded && (item.Children?.Any() ?? false))
                            {
                                <span class="k-icon k-i-arrow-chevron-down" style="position:absolute; right:0; line-height: inherit; margin: 0 8px"></span>
                            }
                            else if (!item.Expanded && (item.Children?.Any() ?? false))
                            {
                                <span class="k-icon k-i-arrow-chevron-right" style="position:absolute; right:0; line-height: inherit; margin: 0 8px"></span>
                            }
                        </li>
                    }
                </ul>
            </div>
        </Template>
        <DrawerContent>
            <div class="card-container">
                <R_ErrorHandler>
                    <BlazorMenu.Shared.Tabs.MenuTabSet />
                </R_ErrorHandler>
            </div>
        </DrawerContent>
    </TelerikDrawer>
</TelerikRootComponent>

<style>
    .k-drawer-content {
        padding: 10px;
        font-size: 18px;
        overflow: hidden
    }

    .k-drawer-container {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #d8d9e8;
    }

    /*.k-d-level {
        display: flex;
    }*/

    .k-level-0 {
        padding-inline-start: 0.5rem;
    }

    .k-level-1 {
        padding-inline-start: 1rem;
    }

    .k-level-2 {
        padding-inline-start: 2rem;
    }
</style>