@using BlazorTraining.Controls.Docs
@using BlazorTraining.Controls.Docs.Event
@using BlazorTraining.Controls.Docs.Method
@using BlazorTraining.Controls.Docs.Parameter
@inherits R_Page

<h1>Realta Blazor DatePicker</h1>
<div class="lead mb-3">
    Realta Blazor DatePicker Component.
</div>

<SectionHeading Size="HeadingSize.H2" Text="DatePicker Overview" HashTagName="datepicker-overview" />
<Demo Type="typeof(DatePicker_Demo_01_Overview)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="DatePicker Parameters" HashTagName="datepicker-parameters" />
<DocTable Header="@(typeof(ParameterHeader))"
          Body="@(typeof(R_DatePickerParameter))" />

<SectionHeading Size="HeadingSize.H2" Text="DatePicker Events" HashTagName="datepicker-events" />
<DocTable Header="@(typeof(EventHeader))"
          Body="@(typeof(R_DatePickerEvent))" />

<SectionHeading Size="HeadingSize.H2" Text="DatePicker Methods" HashTagName="datepicker-methods" />
<DocTable Header="@(typeof(MethodHeader))"
          Body="@(typeof(R_DatePickerMethod))" />
