@using BlazorTraining.Controls.Docs
@using BlazorTraining.Controls.Docs.Event
@using BlazorTraining.Controls.Docs.Method
@using BlazorTraining.Controls.Docs.Parameter
@inherits R_Page

<h1>Realta Blazor TimePicker</h1>
<div class="lead mb-3">
    Realta Blazor TimePicker Component.
</div>

<SectionHeading Size="HeadingSize.H2" Text="TimePicker Overview" HashTagName="timepicker-overview" />
<Demo Type="typeof(TimePicker_Demo_01_Overview)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="TimePicker Parameters" HashTagName="timepicker-parameters" />
<DocTable Header="@(typeof(ParameterHeader))"
          Body="@(typeof(R_TimePickerParameter))" />

<SectionHeading Size="HeadingSize.H2" Text="TimePicker Events" HashTagName="timepicker-events" />
<DocTable Header="@(typeof(EventHeader))"
          Body="@(typeof(R_TimePickerEvent))" />

<SectionHeading Size="HeadingSize.H2" Text="TimePicker Methods" HashTagName="timepicker-methods" />
<DocTable Header="@(typeof(MethodHeader))"
          Body="@(typeof(R_TimePickerMethod))" />
