@page "/SAB01400"
@inherits R_Page

<R_Detail R_Before_Open_Detail="@R_Before_Open_Detail" R_After_Open_Detail="@R_After_Open_Detail">Detail</R_Detail>

<R_PredefinedDock R_InstantiateDock="@PreDock_InstantiateDock" 
                  R_AfterOpenPredefinedDock="@R_AfterOpenPredefinedDock"
                  Title="Predefined Title"></R_PredefinedDock>

<h3>@lcResult</h3>
<div><span class="fas fa-star me-2"></span><span>Favorite</span></div>
<div><span class="fa fa-book-reader me-2"></span><span>General Ledger</span></div>
<div><span class="fa fa-window-restore me-2"></span><span>General System</span></div>
<div><span class="fa fa-tasks me-2"></span><span>Lease Management</span></div>
<div><span class="fa fa-brain me-2"></span><span>System Master</span></div>

@code {
    private void R_Before_Open_Detail(R_BeforeOpenDetailEventArgs eventArgs)
    {
        eventArgs.TargetPageType = typeof(PageA);
        eventArgs.Parameter = "From Detail Button";
    }

    private string lcResult = "";
    private void R_After_Open_Detail(R_AfterOpenDetailEventArgs eventArgs)
    {
        lcResult = (string)eventArgs.Result;
    }

    private void PreDock_InstantiateDock(R_InstantiateDockEventArgs eventArgs)
    {
        eventArgs.TargetPageType = typeof(PagePredefined);
        eventArgs.Parameter = "From Predefined";
        // eventArgs.Cancel = true;
    }

    private void R_AfterOpenPredefinedDock(R_AfterOpenPredefinedDockEventArgs eventArgs)
    {
        lcResult = (string)eventArgs.Result;
    }
}
