@page "/SAB01400"
@inherits R_Page

<R_Detail R_Before_Open_Detail="@R_Before_Open_Detail" R_After_Open_Detail="@R_After_Open_Detail">Detail</R_Detail>

<R_PredefinedDock R_InstantiateDock="@PreDock_InstantiateDock" R_AfterOpenPredefinedDock="@R_AfterOpenPredefinedDock"></R_PredefinedDock>

<h3>@lcResult</h3>

@code {
    private void R_Before_Open_Detail(R_BeforeOpenDetailEventArgs eventArgs)
    {
        eventArgs.TargetPageType = typeof(PageA);
        eventArgs.Parameter = "From Detail Button";
    }

    private string lcResult = "";
    private void R_After_Open_Detail(R_AfterOpenDetailEventArgs eventArgs)
    {
        lcResult = (string)eventArgs.Result;
    }

    private void PreDock_InstantiateDock(R_InstantiateDockEventArgs eventArgs)
    {
        eventArgs.TargetPageType = typeof(PagePredefined);
        eventArgs.Parameter = "From Predefined";
    }

    private void R_AfterOpenPredefinedDock(R_AfterOpenPredefinedDockEventArgs eventArgs)
    {
        lcResult = (string)eventArgs.Result;
    }
}
