@using BlazorTraining.Controls.Docs.Parameter
<tr>
    <th colspan="4">Textarea Only</th>
</tr>
<tr>
    <th scope="row"><code>@nameof(R_TextArea.Height)</code></th>
    <td>string?</td>
    <td>Defines the height of the input component using any valid CSS width value (for example: px, %, rem, or auto). If not specified, the component uses its default layout height.</td>
    <td>Try</td>
</tr>

<tr>
    <th scope="row"><code>@nameof(R_TextArea.MaxLength)</code></th>
    <td>int?</td>
    <td>
        Specifies the maximum number of characters the user is allowed to enter.
        When set to a value, the input will prevent additional characters from being entered once the limit is reached.
        When null, no length limit is applied.
    </td>
    <td>Try</td>
</tr>

<tr>
    <th scope="row"><code>@nameof(R_TextArea.Placeholder)</code></th>
    <td>string</td>
    <td>Specifies the placeholder text displayed inside the input when the value is empty. This text is shown as a hint to guide the user on what to enter.</td>
    <td>Try</td>
</tr>

<tr>
    <th scope="row"><code>@nameof(R_TextArea.TextAlignment)</code></th>
    <td>@(nameof(R_eTextAlignment)) (R_eTextAlignment.Left)</td>
    <td>Controls how the text inside the input is aligned horizontally (Left, Center, or Right).</td>
    <td>Try</td>
</tr>

<tr>
    <th scope="row"><code>@nameof(R_TextArea.Width)</code></th>
    <td>string?</td>
    <td>Defines the width of the input component using any valid CSS width value (for example: px, %, rem, or auto). If not specified, the component uses its default layout width.</td>
    <td>Try</td>
</tr>
<R_InputWithValidationComponentBaseParameter />