@using Microsoft.AspNetCore.Components.WebAssembly.Services
@using System.Reflection
@using BlazorMenu.Shared.Tabs
@using R_BlazorFrontEnd.Controls.Router

@inject LazyAssemblyLoader AssemblyLoader

<CascadingAuthenticationState>
    <R_BasicRouter AppAssembly="@typeof(Program).Assembly"
                   AdditionalAssemblies="@lazyLoadedAssemblies">
        <Found Context="routeData">
            <MenuTabsRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </R_BasicRouter>
</CascadingAuthenticationState>

@code {
    private List<Assembly> lazyLoadedAssemblies = new()
    {
        typeof(SAB00900Front.SAB00900).Assembly,
        typeof(SAB01000Front.SAB01000).Assembly,
        typeof(SAB02400Front.SAB02400).Assembly,
        typeof(SAB00600Front.SAB00600).Assembly,
        typeof(SAB00700Front.SAB00700).Assembly,
        typeof(SAB03000Front.SAB03000).Assembly,
        typeof(SAB01200Front.SAB01200).Assembly,
        typeof(SAB01400Front.SAB01400).Assembly,
        typeof(SAB01900Front.SAB01900).Assembly,
        typeof(SAB03100Front.SAB03100).Assembly,
        typeof(SAB03200Front.SAB03200).Assembly,
        typeof(SAB03300Front.SAB03300).Assembly,
        typeof(SAB03400Front.SAB03400).Assembly,
        typeof(SAB04000Front.SAB04000).Assembly,
        typeof(SAB00800Front.SAB00800).Assembly,
        typeof(SAB01300Front.SAB01300).Assembly,
        typeof(SAB01500Front.SAB01500).Assembly,
        typeof(SAB00100Front.SAB00100).Assembly,
        typeof(SAB02000Front.SAB02000).Assembly,
    };
}