@page "/SAB00800"
@inherits R_Page

<R_StackLayout Spacing="3" Class="mb-4">
    <R_StackLayout>
        <R_TreeView @ref="@_treeRef" 
                    DataSource="@_viewModel.TenantList"
                    R_ConductorSource="@_conductorRef"
                    TextField="CCATEGORY_NAME_DISPLAY"
                    IdField="CCATEGORY_ID"
                    ParentIdField="CPARENT"
                    HasChildrenField="LHAS_CHILDREN" 
                    R_ServiceGetListRecord="@Tree_R_ServiceGetListRecord" 
                    R_RefreshTreeViewState="@Tree_R_RefreshTreeViewState">
        </R_TreeView>
    </R_StackLayout>
</R_StackLayout>

<R_StackLayout>
    <R_StackLayout Row="true" Spacing="3">
        <h2>Tenant Detail</h2>
    </R_StackLayout>

    <R_StackLayout Row="true">
        <R_ItemLayout col="2">
            <R_Label>Parent Category*</R_Label>
        </R_ItemLayout>

        <R_ItemLayout col="4">
            <R_TextBox @bind-Value="@_viewModel.Data.CPARENT"
                       R_ConductorSource="@_conductorRef"
                       R_EnableAdd="true"
                       R_EnableEdit="true"></R_TextBox>
        </R_ItemLayout>
    </R_StackLayout>

    <R_StackLayout Row="true">
        <R_ItemLayout col="2">
            <R_Label>Level*</R_Label>
        </R_ItemLayout>

        <R_ItemLayout col="4">
            <R_NumericTextBox @bind-Value="@_viewModel.Data.ILEVEL"
                              R_ConductorSource="@_conductorRef"
                              R_EnableAdd="true"
                              R_EnableEdit="true"></R_NumericTextBox>
        </R_ItemLayout>
    </R_StackLayout>

    <R_StackLayout Row="true">
        <R_ItemLayout col="2">
            <R_Label>Category Code*</R_Label>
        </R_ItemLayout>

        <R_ItemLayout col="4">
            <R_TextBox @bind-Value="@_viewModel.Data.CCATEGORY_ID"
                       R_ConductorSource="@_conductorRef"
                       R_EnableAdd="true"
                       R_EnableEdit="true"></R_TextBox>
        </R_ItemLayout>
    </R_StackLayout>

    <R_StackLayout Row="true">
        <R_ItemLayout col="2">
            <R_Label>Category Name*</R_Label>
        </R_ItemLayout>

        <R_ItemLayout col="4">
            <R_TextBox @bind-Value="@_viewModel.Data.CCATEGORY_NAME"
                       R_ConductorSource="@_conductorRef"
                       R_EnableAdd="true"
                       R_EnableEdit="true"></R_TextBox>
        </R_ItemLayout>
    </R_StackLayout>

    <R_StackLayout Row="true">
        <R_ItemLayout col="2">
            <R_Label>Notes</R_Label>
        </R_ItemLayout>

        <R_ItemLayout col="4">
            <R_TextArea @bind-Value="@_viewModel.Data.CNOTE"
                        R_ConductorSource="@_conductorRef"
                        R_EnableAdd="true"
                        R_EnableEdit="true"></R_TextArea>
        </R_ItemLayout>
    </R_StackLayout>

    <R_StackLayout Row="true" Spacing="3" Class="mt-3">
        <R_ItemLayout col="12">
            <R_AddButton R_Conductor="@_conductorRef"></R_AddButton>

            <R_EditButton R_Conductor="@_conductorRef"></R_EditButton>

            <R_DeleteButton R_Conductor="@_conductorRef"></R_DeleteButton>

            <R_SaveButton R_Conductor="@_conductorRef"></R_SaveButton>

            <R_CancelButton R_Conductor="@_conductorRef"></R_CancelButton>
        </R_ItemLayout>
    </R_StackLayout>
</R_StackLayout>

<R_Conductor @ref="@_conductorRef"
             R_ViewModel="@_viewModel"
             R_IsHeader="true"
             R_ServiceGetRecord="@Conductor_ServiceGetRecord"
             R_Validation="@Conductor_Validation"
             R_ServiceSave="@Conductor_ServiceSave"
             R_ServiceDelete="@Conductor_ServiceDelete" 
             R_ConvertToGridEntity="Conductor_ConvertToGridEntity" 
             R_Saving="Conductor_Saving"></R_Conductor>

