@page "/SAB00800"
@using SAB00800Front.DTOs
@using R_BlazorFrontEnd.Controls.Enums
@inherits R_Page

<R_StackLayout Spacing="3" Class="mb-4">
    <R_StackLayout>
        <R_TreeView @ref="@_treeRef" 
                    R_ConductorSource="@_conductorRef"
                    TextField="@nameof(TenantTreeDTO.Description)"
                    IdField="@nameof(TenantTreeDTO.Id)"
                    ParentIdField="@nameof(TenantTreeDTO.ParentId)"
                    HasChildrenField="@nameof(TenantTreeDTO.HasChildren)"
                    R_ServiceGetListRecord="@Tree_R_ServiceGetListRecord" 
                    Enabled="@_treeEnabled" 
                    AfterAddBehaviour="R_eTreeviewAfterAddBehaviour.OnParentNode" 
                    TModel="TenantTreeDTO"
                    Height="200px">
        </R_TreeView>
    </R_StackLayout>
</R_StackLayout>

<R_StackLayout>
    <R_StackLayout Row>
        <h2>Tenant Detail</h2>
    </R_StackLayout>

    <R_StackLayout Row>
        <R_ItemLayout col="2">
            <R_Label>Parent Category*</R_Label>
        </R_ItemLayout>

        <R_ItemLayout col="4">
            <R_TextBox @bind-Value="@_viewModel.Data.CPARENT"
                       R_ConductorSource="@_conductorRef"
                       R_EnableAdd
                       R_EnableEdit />
        </R_ItemLayout>
    </R_StackLayout>

    <R_StackLayout Row>
        <R_ItemLayout col="2">
            <R_Label>Level*</R_Label>
        </R_ItemLayout>

        <R_ItemLayout col="4">
            <R_NumericTextBox @bind-Value="@_viewModel.Data.ILEVEL"
                              R_ConductorSource="@_conductorRef"
                              R_EnableAdd
                              R_EnableEdit />
        </R_ItemLayout>
    </R_StackLayout>

    <R_StackLayout Row>
        <R_ItemLayout col="2">
            <R_Label>Category Code*</R_Label>
        </R_ItemLayout>

        <R_ItemLayout col="4">
            <R_TextBox @bind-Value="@_viewModel.Data.CCATEGORY_ID"
                       R_ConductorSource="@_conductorRef"
                       R_EnableAdd
                       R_EnableEdit />
        </R_ItemLayout>
    </R_StackLayout>

    <R_StackLayout Row>
        <R_ItemLayout col="2">
            <R_Label>Category Name*</R_Label>
        </R_ItemLayout>

        <R_ItemLayout col="4">
            <R_TextBox @bind-Value="@_viewModel.Data.CCATEGORY_NAME"
                       R_ConductorSource="@_conductorRef"
                       R_EnableAdd
                       R_EnableEdit />
        </R_ItemLayout>
    </R_StackLayout>

    <R_StackLayout Row="true">
        <R_ItemLayout col="2">
            <R_Label>Notes</R_Label>
        </R_ItemLayout>

        <R_ItemLayout col="4">
            <R_TextArea @bind-Value="@_viewModel.Data.CNOTE"
                        R_ConductorSource="@_conductorRef"
                        R_EnableAdd
                        R_EnableEdit />
        </R_ItemLayout>
    </R_StackLayout>

    <R_StackLayout Row Spacing="3" Class="mt-3">
        <R_ItemLayout col="12">
            <R_AddButton R_Conductor="@_conductorRef"></R_AddButton>

            <R_EditButton R_Conductor="@_conductorRef"></R_EditButton>

            <R_DeleteButton R_Conductor="@_conductorRef"></R_DeleteButton>

            <R_SaveButton R_Conductor="@_conductorRef"></R_SaveButton>

            <R_CancelButton R_Conductor="@_conductorRef"></R_CancelButton>

            <R_Button OnClick="@ExpandAllClick">Expand All</R_Button>
            <R_Button OnClick="@CollapseAllClick">Collapse All</R_Button>
            <R_TextBox @bind-Value="@_filterText" />
            <R_Button OnClick="@FilterTree">Filter</R_Button>
        </R_ItemLayout>
    </R_StackLayout>
</R_StackLayout>

<R_Conductor @ref="@_conductorRef"
             R_ViewModel="@_viewModel"
             R_IsHeader
             R_ServiceGetRecord="@Conductor_ServiceGetRecord"
             R_Validation="@Conductor_Validation"
             R_ServiceSave="@Conductor_ServiceSave"
             R_ServiceDelete="@Conductor_ServiceDelete" 
             R_ConvertToGridEntity="Conductor_ConvertToGridEntity" 
             R_Saving="Conductor_Saving"
             R_SetOther="@R_SetOther"
             R_AfterAdd="@R_AfterAdd" />

